/*-----------------------------------------------------*/

/*BASIC SET UP*/

/*-----------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    color: #333;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/*-----------------------------------------------------*/

/*REUSABLE COMPONENTS*/

/*-----------------------------------------------------*/
section {
    
    padding: 60px 10px;
     margin: 0 auto;
    max-width: 1140px;  
}

h1 {
    width: 100%;
    font-weight: 900;
    margin: 50px 0;
    text-align: center;
    color: #d25959;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 220%;
    word-spacing: 2px;
    text-align: center;
    color: #383030;
   
}
h4{
    font-weight: 700;
    font-size: 130%;
    text-align: center;
    margin-top: 50px;
    word-spacing: 2px;
}
p{
    font-size: 110%;
    line-height: 145%;
    padding: 10px;
}
.fa-cogs{
    color: black;
    
}
.fa-edit, .fa-file-alt, .fa-angle-double-down{
    font-size: 110%;
    color: #d25959;
    opacity: 0.8;
}
.box {
    padding: 1%;
}
/*-----------------------------------------------------*/

/*Introduction*/

/*-----------------------------------------------------*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid ;
    margin-top: 50px; 
    color: #383030;
    min-width: 1050px;
}

thead th{
  width: 12%;
}

th, td {
  padding: 20px;
  text-align: center;
  font-size: 100%;
  
}
caption{
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 90%;
    font-weight: 700;
    color: #d25959;
}
/*-----------------------------------------------------*/

/*Instruction*/

/*-----------------------------------------------------*/
.sc-second{
    padding-bottom: 0px;
}
.sc-second p{
    position: relative;
    margin-top: 30px;
    color: #333;
    
}
.p-first .fa-angle-right{
   z-index: -1;
   color: #d25959;
   font-size: 1000%; 
   position: absolute;
   left: 30%;
   top: 0;
    opacity: 0.3;
}
.p-second .fa-angle-right{
   z-index: -1;
   color: #d25959;;
   font-size: 1000%; 
   position: absolute;
   left: 30%;
   top: 0;
   opacity: 0.3;
}
.p-third .fa-angle-double-down{
   z-index: -1;
   color: #d25959;
   font-size: 1000%; 
   position: absolute;
   left: 30%;
   top: 7%;
   opacity: 0.3;
}
.fa-angle-down{
    display: none;
}

/*-----------------------------------------------------*/

/*Application*/

/*-----------------------------------------------------*/
.sc-third h2{
    margin-bottom: 30px;
}
.sc-third p{ 
    word-spacing: 3px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 40px;
}
/*-----------------------------------------------------*/

/*FORM*/

/*-----------------------------------------------------*/

form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

label, button {
  background-color: #d25959;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 100%;
  color: white;  
  display: block;
  text-align: center;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
label:hover, button:hover{
    background-color: #ffffff;
    color: #d25959;
    
}
.preview{
    margin: 30px 0; 
}
.preview p{
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    line-height: 32px;
}


@media screen and (max-width: 1050px) {
    
    table {
/*    table-layout: fixed;*/
    width: 100%;
    border-collapse: collapse;
    border: 3px solid ;
    margin-top: 50px; 
    color: #383030;
    border-spacing: 0;
}

thead th{
  width: 12%;
}

th, td {
  padding: 8px;
  font-size: 90%;
  font-weight: 700;
  text-align: left;
}
caption{
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 90%;
    font-weight: 700;
    color: #d25959;
}
    
}


@media screen and (max-width: 900px) {
.span_1_of_3{
        width: 100%; 
}
.p-first .fa-angle-right{
   display: none;
}
.p-second .fa-angle-right{
   display: none
}
.p-third .fa-angle-double-down{
   display: none;
}
.p-first .fa-angle-down{
    display: block;
    z-index: -1;
   color: #d25959;
   font-size: 600%; 
   position: absolute;
   left: 40%;
   top: 0%;
   opacity: 0.3;
}
.p-second .fa-angle-down{
   display: block;
   z-index: -1;
   color: #d25959;
   font-size: 600%; 
   position: absolute;
   left: 40%;
   top: -20%;
   opacity: 0.3;
}
.p-third .fa-angle-down{
   display: block;
   z-index: -1;
   color: #d25959;
   font-size: 600%; 
   position: absolute;
   left: 40%;
   top: -10%;
   opacity: 0.3;
        
    }
    
}
@media screen and (max-width: 600px) {
    section{
        padding: 60px 0;
    }
    .p-first .fa-angle-down{
    display: none;
    }
    .p-second .fa-angle-down{
    display: none;
    }
    .p-third .fa-angle-down{
    display: none;
    }
} 

@media screen and (max-width: 450px) {
    h1 {
    width: 100%;
    font-weight: 900;
    margin: 50px 0;
    text-align: center;
    color: #d25959;
    font-size: 170%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h2 {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    color: #383030;
   
}
h4{
    font-weight: 700;
    font-size: 110%;
    text-align: center;
    margin-top: 50px;
    word-spacing: 2px;
}
p{
    font-size: 100%;
    line-height: 145%;
    padding: 10px;
    
}
.p-first strong {
       word-break: break-all; 
    }    
}    

